.headerSection {
    background: linear-gradient(to bottom, #f44e5c, #ca6dde, #0cc2ea);
}

.headerButton {
    margin-top: 9em;
}

.headerContent {
    margin-top: 3em;
    color: white;
}

.headerContent_2 {
    
}

@media only screen and (max-width: 800px){
    .headerSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}