.meetupSection{
    display: flex;
    margin: 3em;
    width: 100%;
    border: 1px solid black;
}

.meetupLeft{
    display: flex;
    flex-direction: column;
}

.meetupLeft img{
    
    border: 1px solid black;
    height: 250px;
    width: 650px;
}

.meetupRight{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 21em;
}

.meetupRight h1{
    align-items: flex-end;
}