.link {
    font-size: .75em;
    padding-right: 7px;
    font-weight: 625;
}

.hackBuddyLogo {
    font-size: 1.3em;
    
}

@media only screen and (max-width: 800px){
    nav {
        display: flex;
        width: 100%;
    }
}